.wrapper {
  width: 730px;
  height: 789px;
  margin-top: 65px;
}
.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 688px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
@media (max-width: 712px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 327px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .mobile {
    display: flex;
  }
  .box {
    width: 327px;
    height: 91px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    border-radius: 5px;
  }
  .darkBox {
    width: 327px;
    height: 91px;
    background-color: #1e2139;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    border-radius: 5px;
  }
}
