.wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 719px;
  height: fit-content;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.15);
}
.box {
  margin-left: 159px;
  margin-top: 59px;
}
.billFrom {
  width: 504px;
  height: 208px;
  margin-top: 46px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
.billFrom h2 {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
}
.billFrom label {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #7e88c3;
  font-weight: 500;
  margin-bottom: 9px;
}

.addressInputGrp {
  display: flex;
  flex-flow: row nowrap;
  gap: 18px;
}
.first {
  display: flex;
  flex-flow: row nowrap;
  gap: 19px;
}

.addressInputGrp input {
  outline: none;
  width: 152px;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  color: #0c0e16;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.addressInputGrp input:focus {
  border: 1px solid #7c5dfa;
}

.billTo {
  width: 504px;
  height: 399px;
  margin-top: 46px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
.billTo h2 {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
}
.billTo label {
  display: block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #7e88c3;
  font-weight: 500;
  margin-bottom: 9px;
}

.longInput input {
  outline: none;
  width: 100%;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  color: #0c0e16;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.longInput input:focus {
  border: 1px solid #7c5dfa;
}
.description {
  width: 504px;
  height: 169px;
  margin-top: 46px;
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}

.descInputGrp {
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
}
.descInputGrp div {
  display: flex;
  flex-flow: column nowrap;
}
.descInputGrp input,
.descInputGrp select {
  outline: none;
  width: 240px;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  color: #0c0e16;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.descInputGrp select:focus {
  border: 1px solid #7c5dfa;
}
.description label {
  display: block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #7e88c3;
  font-weight: 500;
  margin-bottom: 9px;
}
.itemList {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  margin-top: 46px;
  width: 504px;
}
.itemList h1 {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.38px;
  color: #7e88c3;
}
.itemInputGrp {
  display: flex;
  flex-flow: column nowrap;
  width: 504px;
  height: fit-content;
  gap: 24px;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 13px;
}
.info {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
.labelGrp {
  width: 504px;
  display: flex;
 
}
.itemInputGrp label {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #7e88c3;
  font-weight: 500;
  margin-bottom: 9px;
}
.labelGrp label:nth-child(1) {
  width: 235px;
}
.labelGrp label:nth-child(2) {
  width: 70px;
}
.labelGrp label:nth-child(3) {
  width: 120px;
}
.date input:focus {
  border: 1px solid #7c5dfa;
}

.name input {
  outline: none;
  width: 214px;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  color: #0c0e16;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.name input:focus {
  border: 1px solid #7c5dfa;
}
.qty input {
  outline: none;
  width: 46px;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  color: #0c0e16;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.qty input:focus {
  border: 1px solid #7c5dfa;
}
.price input {
  outline: none;
  width: 100px;
  height: 48px;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  color: #0c0e16;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.price input:focus {
  border: 1px solid #7c5dfa;
}

.total p {
  display: block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #7e88c3;
  font-weight: 500;
  margin: 0;
}
.total h2 {
  color: #7e88c3;
  width: 43px;
  height: 48px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  display: flex;
  margin: 0;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.secondItemTotal h2 {
  color: #7e88c3;
  width: 43px;
  height: 48px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.actionBtnGrp {
  display: flex;
  flex-flow: row nowrap;
  width: 504px;
  height: 48px;
  justify-content: space-between;
}
.submitBtns {
  display: flex;
  flex-flow: row nowrap;
}
.grayBtn {
  width: 96px;
}
.purpleBtn {
  width: 138px;
  margin-left: 8px;
}
.darkGrayBtn {
  width: 133px;
}
.btnWrapper {
  display: flex;
  width: 504px;
  margin-top: 32px;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.control span {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #ec5757;
}
.errorMessage {
  margin-left: 159px;
}
.errorMsg {
  color: #ec5757;
  font-size: 13px;
  line-height: 15px;
}

.darkWrapper {
  background-color: #1e2139;
}
.darkWrapper h1 {
  color: #fff;
}
.darkWrapper label {
  color: #dfe3fa;
}
.darkWrapper input {
  background-color: #252945;
  border-color: #252945;
  color: #fff;
}
.darkWrapper input:-internal-autofill-selected {
  background-color: #252945 !important;
  color: #fff !important;
}
.darkWrapper select {
  background-color: #252945;
  border-color: #252945;
  color: #fff;
}
.darkTotal p {
  color: #dfe3fa;
}
.darkTotal h2 {
  color: #fff;
}
.name label {
  width: 220px;
}
.qty label {
  width: 52px;
  
}
.price label {
  width: 106px;
}
.total {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.hide {
  display: none;
}

.itemInput {
  margin-bottom: 13px;
}
.itemName {
  width: 214px;
  height: 48px;
  outline: none;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  color: #0c0e16;
  margin-right: 13px;
}
.itemQty {
  width: 46px;
  height: 48px;
  outline: none;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  color: #0c0e16;
  margin-right: 13px;

}
.itemPrice {
  width: 100px;
  height: 48px;
  outline: none;
  border: 1px solid #dfe3fa;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
  color: #0c0e16;


}
.itemTotal {
  width: 70px;
  height: 48px;
  outline: none;
  border: none;
  background-color: #fff;
  text-align: center;
  color: #7e88c3;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.itemBtn {
  width: 504px;
}
.invalid {
  border-color: #ec5757;
  outline: none;
}
.invalid input {
  border-color: #ec5757;
  outline: none;
}
.invalid label {
  color: #ec5757;
}
.mobileItemLabels{
  display: none;
}
.itemInput label:nth-child(1){
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    width: 616px;
    margin-top: 100px;
  }
  .box {
    margin-left: 56px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    width: 375px;
  }
  .box {
    width: 375px;
    margin-left: 24px;
  }
  .billFrom {
    width: 327px;
  }
  .addressInputGrp {
    width: 327px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
  }
  .billTo {
    width: 327px;
    margin-top: 150px;
  }

  .descInputGrp {
    width: 327px;
    display: block;
  }
  .descInputGrp input {
    width: 100%;
  }
  .descInputGrp select {
    width: 100%;
  }
  .longInput {
    width: 327px;
  }
  .container {
    display: block;
  }
  .itemInputGrp {
    width: 327px;
  }
  .name input {
    width: 327px;
  }
  .qty input {
    width: 64px;
    margin-right: 20px;
  }
  .price input {
    width: 100px;
  }

  .info {
    display: flex;
    flex-flow: row nowrap;
    width: 327px;
  }
  .itemBtn {
    width: 327px;
  }
  .itemList {
    width: 375px;
  }
  .itemList h1 {
    margin-top: 60px;
  }
  .btnWrapper {
    width: 327px;
    justify-content: space-around;
    margin-left: 24px;
  }
  .actionBtnGrp {
    width: 375px;
    height: fit-content;
    justify-content: space-around;
  }
  .first {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .country {
    display: flex;
    flex-direction: column;
  }
  .country input {
    width: 327px;
  }
  .description {
    margin-top: 160px;
    width: 327px;
  }
  .backdrop {
    display: none;
  }
  .box form {
    width: 375px;
  }
  .errorMessage {
    margin-left: 24px;
  }
  .darkGrayBtn {
    width: 117px;
  }
  .purpleBtn {
    width: 112px;
  }
  .grayBtn {
    width: 84px;
  }
  .hide {
    display: block;
  }
  .container{
    
    flex-flow: column wrap;
  }
  .itemName {
    width: 327px;
    margin-bottom: 40px;
  }
  .mobileItemLabels label:nth-child(1){
    margin-right: 45px;
  }
  .mobileItemLabels label:nth-child(2){
    margin-right: 100px;
  }
  .labelGrp label{
    display: none;
  }
 .itemInput{
  margin-bottom: 50px;
 }
 .itemInput label:nth-child(1){
  display: block;
}
.mobileItemLabels {
  display: flex;
}

}
