.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 103px;
  height: 100%;
  background-color: #373b53;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: 200;
}
.wrapper {
  width: 103px;
  height: 117px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.avatar {
  border-radius: 50%;
}
.line {
  width: 103px;
  height: 1px;
  background-color: #888eb0;
}
.wrapper img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .bar {
    width: 768px;
    height: 103px;
    flex-flow: row nowrap;
    border-radius: 0;
    overflow: hidden;
  }
  .wrapper {
    flex-flow: row nowrap;
    margin-right: 20px;
  }
  .line {
    width: 1px;
    height: 100%;
  }
}

@media (max-width: 400px) {
  .bar {
    width: 100%;
  }
}
