.btn {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.btn button {
  border: none;
  background-color: inherit;
}
.btn button:hover {
  cursor: pointer;
}
